{
  "extends": "../.eslintrc",
  "parserOptions": {
    "project": "test/tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}


